<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoginDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RegistrationConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RegistrationDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBCS"
      connectionString="server=.;database=SampleDB;integrated security=SSPI"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>